.container {
	margin: 0;
	padding: 1rem;
	background-color: black;
	line-height: 1.5;
	overflow: hidden;
}

.container:hover {
	background: linear-gradient(
		to bottom,
		#000000 0%,
		#000025 25%,
		#000050 50%,
		#04043d 75%,
		#000000 100%
	);
}

.branding {
	max-width: 1100px;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

.heading {
	margin: 1rem 0;
	padding: 1rem 0;
}

.h1 {
	text-align: center;
	font-size: 2.2rem;
	color: white;
	font-weight: normal;
	margin: 0 1rem;
}

.motto {
	text-align: center;
	font-size: 2rem;
	color: white;
	font-weight: normal;
}

.framing {
	padding: 1rem 0;
}

.h2 {
	text-align: center;
	font-size: 1.5rem;
	color: white;
	font-weight: normal;
	margin: 0 3rem;
}

.connect {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	margin: 1rem 0;
	padding: 0.5rem 0;
	border-radius: 10px;
}

.connect_item {
	height: 50px;
	width: 50px;
	margin: 1rem;
	border-radius: 50%;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.connect_item:hover {
	cursor: pointer;
	border: 1px solid rgb(0, 47, 255);
	box-shadow: rgb(255, 255, 255) 0px 0px 5px 6px;
}
