.container {
	background-color: white;
	line-height: 1.5;
	overflow: hidden;
	padding: 5rem 1rem;
}

.wrapper {
	background-color: #1d1d1d;
	padding: 2rem;
	max-width: 1100px;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	text-align: center;
}

.wrapper:hover {
	background-color: darkslategray;
}

.h2 {
	font-size: 1.9rem;
	color: white;
	font-weight: normal;
	padding: 1rem;
	text-align: center;
}

.desc {
	font-size: 22px;
	color: white;
	font-weight: normal;
	padding: 1rem;
	text-align: justify;
}

.p {
	font-size: 22px;
	color: white;
	font-weight: normal;
	padding: 1rem;
	text-align: justify;
}

.a {
	color: gold;
}

.a:hover {
	font-weight: bold;
	text-decoration: underline;
}
