* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: "DM Sans", sans-serif;
}

html,
body {
	font-family: "DM Sans", sans-serif;
	font-size: 18px;
	background-color: white;
}

a {
	color: #000330;
	text-decoration: none;
	font-family: "DM Sans", sans-serif;
	font-weight: normal;
}
