.container {
	background-color: rgb(241, 241, 241);
	line-height: 1.5;
	overflow: hidden;
	padding: 3rem 1rem;
}

.wrapper {
	max-width: 1100px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin: 0 auto;
	flex-wrap: wrap;
	gap: 1rem;
	padding: 3rem 0;
}

.left {
	width: 400px;
	height: 400px;
}

.left img {
	object-fit: cover;
	object-position: center;
	padding: 0;
	border-radius: 10px;
}

.right {
	width: 600px;
	border-radius: 10px;
}

.h2 {
	font-size: 1.9rem;
	color: #0077b6;
	font-weight: normal;
	padding: 1rem;
	text-align: center;
}

.h3 {
	font-size: 1.2rem;
	color: black;
	font-weight: normal;
	padding: 1rem;
	text-align: left;
}

.p {
	font-size: 22px;
	color: black;
	font-weight: normal;
	padding: 1rem;
	text-align: justify;
}

.title {
	font-size: 20px;
	color: #0077b6;
	font-weight: normal;
	padding: 0 1rem;
	text-align: justify;
}
